.sidepanel{
    background-color: #041955;
    position: fixed;
    left: 0;
    top: 46px;
    width: 300px;
    height: 100vh;
}

.sidenavElement{
    background-color: #041955;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size:30px;
    width: 100%;
    height: 100px;
    color: #97B4FF;
}
.sidenavElement:hover{
    background-color: #283E7A;
    color: #97B4FF;
    text-decoration: none;
}
