body {
  background-color: #3450A1;
}
.userBtnA,.userBtnA:hover{
  font-size: 125%;
}
input[type=text],[type=password],[type=color],[type=button],[type= submit],[type=date]{
  display: block;
  color:#97B4FF;
  font-size: 100%;
  width: 60%;
  height:45%;
  text-align: center;
  background-color: #3450A1;
  border: none;
  border-radius:20px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
  margin: auto;
}
input[type=text],[type=password],[type=date]{
  width: 60%;
  height:45%;
  font-size: 30px;
  margin: auto;
}
input[type=submit],[type=button]{
  width: 20%;
  height:45%;
  margin: auto;
}
input[type=date]{

}
h1{
  color: #97B4FF;
  text-align: center
}
nav{
  background-color:  #041955;
  max-height:48px;

}
.nav,.nav:hover{
  color:#97B4FF;
  font-size: 30px;
  text-decoration: none;
}
.userBtn{
  position: absolute;
  right: 20px;
  top:5px;
  width:100px;
  height: 75%;
  color:#97B4FF;
  text-align: center;
  background-color: #3450A1;
  border: none;
  border-radius:5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
}
h2{
  text-align: center;
  color: #97B4FF;
}
.alert-danger{
  text-align: center;
  width: 60%;
  margin: auto;
}
.task{
  font-size: 130%;
  color:#97B4FF;
  margin: 5% 0 5% 0;
}
p{
  color: #97B4FF;
  display: inline;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #041955;
}
::-webkit-scrollbar-thumb {
  background: #3450A1;
}
::-webkit-scrollbar-thumb:hover {
  background: #283E7A;
}