body {
  background-color: #3450A1;
  font-family: 'Roboto', sans-serif;
}


input[type= submit],[type=date], .option, .option3, .colorpicker , .usernameContainer, .button{
  display: block;
  color:#97B4FF;
  font-size: 100%;
  text-align: center;
  background-color: #3450A1;
  border: none;
  border-radius:20px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  margin: auto;
}
input[type=date], .colorpicker,.option,.option3, .usernameContainer{
  width: 80%;
  height:50%;
  font-size: 30px;
  margin: auto;
}
input[type=text],[type=password],[type=email]{
  color:#97B4FF;
  height:100%;
  width:100%;
  background-color: transparent;
  border: none;
  border-radius:20px;
  margin: auto;
}
input[type=color]{
  display: block;
  width: 80%;
  height:45%;
  background-color: #3450A1;
  border: none;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  margin: auto;
}
.SignInButtons{
  width:60%  !important;
}
.button{
  display:grid !important;
}
input[type=submit], .button{
  font-size: 100%;
  width: 25%;
  height:45%;
}

nav{
  background-color:  #041955;
  max-height:48px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}
.nav,.nav:hover{
  font-weight:500;
  color:#97B4FF;
  font-size: 30px;
  text-decoration: none;
}
.alert-danger{
  text-align: center;

  width: 60%;
  position:absolute;
  top:46px;
  left: 50%;
  transform: translatex(-50%);
}
a, a:hover{
  text-decoration: none;
  color:#97B4FF;
}
h2{
  margin: 2% 0 0 0;
  text-align: center;
  color: #97B4FF;
}
h4, h5, p{
  color: #97B4FF;
  margin-top:auto;
  margin-bottom:auto;
}
.allCategoryTitle{
  margin-top:40px;
  color: #97B4FF;
  text-align: center;
}
.circle{
  margin:auto;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
}
.active, input[type=submit]:hover, button:hover,.option3:hover{
  background-color: #283E7A;
}
.rectangle{
  margin:auto;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-style: solid;
  border-color: #EB06FF;
  border-width: 3px;
  border-radius: 25%;
  box-shadow: 0 0 10px rgb(235, 6, 255);
}
#home{
  position: relative;
  right: 150px;
  color:#97B4FF;
  font-size: 20px;
  text-decoration: none;
}
i{
  margin: auto;
}
.bi-plus-square{
  color: #EB06FF;
}
.bi-person, .bi-lock, .bi-envelope, .bi-shield-lock, .bi-folder-plus{
  color: #97B4FF;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #041955;
}
::-webkit-scrollbar-thumb {
  background: #97B4FF;
}
::-webkit-scrollbar-thumb:hover {
  background: #283E7A;
}
::placeholder {
  color: #1B2E64;
}
